a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    text-align: center;
    font-size: 1.8em;
    color: rgb(70, 70, 70);
    background-clip: text;
    font-family: Georgia;
    margin-left: 30%;
}

.rightimg {
    float: right; 
    margin: 0 7px 7px 7px; 
    }

.leftimg {
    float:left; 
    margin: 7px 20px 7px 0;
    }

p.lead {
    font-size: 1.35em;
    -webkit-text-stroke: 0.75px;
}
footer {
    background-color: rgb(52,58,64);; /* колір фону підвалу */
    color: white; /* колір тексту */
    padding: 20px; /* відступи всередині підвалу */
}
