{% extends "base.html" %}

{% block content %}
      <h2>Загальні дані</h2>
      <div><br>
        <p class="lead">
          Катастрофа вважається найбільшою за всю історію ядерної енергетики до вибуху на АЕС «Фукусіма-1», як за кількістю загиблих і потерпілих від її наслідків людей, так і за економічним збитком.

          <br><br>Радіоактивна хмара від аварії пройшла над європейською частиною СРСР, більшою частиною Європи, східною частиною США. Приблизно 60% радіоактивних речовин осіло на території Білорусі. Близько 200 000 чоловік були евакуйовані із зон забруднення.
          
          <br><br>Чорнобильська аварія стала подією великого суспільно-політичного значення для СРСР і світу. Це наклало деякий відбиток на хід розслідування її причин. Підхід до інтерпретації фактів і обставин аварії мінявся з часом і повністю єдиної думки не існує досі.
          
          <br><br>Спершу керівництво УРСР та СРСР намагалося приховати масштаби трагедії, але після повідомлень з Швеції, де на АЕС Форсмарк були знайдені радіоактивні частинки, які були принесені з східної частини СРСР та оцінки масштабів зараження, розпочалася евакуація близько 130 000 мешканців Київської області із забруднених районів. Радіоактивного ураження зазнали близько 600 000 осіб, насамперед ліквідатори катастрофи. Навколо ЧАЕС створена 30-кілометрова зона відчуження.
        </p>
      </div>

      <img src="https://www.zoda.gov.ua/images/article/1/000138/138165/picture.jpg"><br><br>

      <br><a class="button" href="{{url_for('index')}}">← На головну</a><br><br>

{% endblock content %}