{% extends "base.html" %}

{% block content %}
<h2>Вплив аварії на здоров'я людей</h2>
<h4>Дози опромінення</h4>
<p class="lead">
    Рівень радіації в деяких місцях після аварії був близько 5.6 Р/сек, тобто 20 000 Р/год. Смертельною вважається доза, яка дорівнює 500 Рентген за 5 годин. Тобто в деяких місцях незахищені працівники могли отримати смертельну дозу радіації за декілька хвилин.

    <br><br>На момент аварії на ЧАЕС було 2 дозиметра, кожен на 1000 Рентген. Але внаслідок аварії один був зруйнований, а інший після ввімкнення виявився не робочим. Всі інші дозиметри мали ліміт в 0.001 Р/сек. Тому працівники могли визначити максимальний рівень радіації в 3.6 Р/год, справжні ж рівні радіації в окремих місцях перевищували даний в 5600 разів.

    <br><br>Найбільші дози отримали приблизно 1000 чоловік, що знаходилися поряд з реактором у момент вибуху і що брали участь в аварійних роботах в перші дні після нього. Точних даних про розмір доз немає з відомих причин, але в будь-якому випадку вони виявилися найбільшими серед усіх осіб, які брали участь в ліквідації або постраждали внаслідок аварії. Число ліквідаторів, які отримали дози більше лімітованих є незначною. Ліміт у 1986 році був 250 мЗв і в наступні роки на рівні 100 та 50 мЗв. Вимірювання отриманих доз для ліквідаторів виконували різні служби і достовірність отриманих даних є різною. Показовою є фальсифікація даних про опромінення серед військовослужбовців для приведення у відповідність до діючих лімітів у 250, 100 та 50 мЗв.

    <br><br>Багато місцевих жителів в перші тижні після аварії споживали продукти, забруднені радіоактивним йодом-131. Йод накопичувався в щитоподібній залозі, і це призвело до великих доз опромінення на цей орган, окрім дози на все тіло, отриманої за рахунок зовнішнього випромінювання і випромінювання інших радіонуклідів, що потрапили всередину організму. Для жителів Прип'яті ці дози були менші завдяки вживанню препаратів, в складі яких є йод, в інших районах така профілактика не проводилася. Слід зазначити, що для населення сіл 30 кілометрової зони, які були евакуйовані пізніше, рівень внутрішнього опромінення був до 4 разів вищий від зовнішнього.

    <br><br>Згідно з моделюванням за даними щодо зовнішнього опромінення населення 30 кілометрової зони можна зробити висновок:</p>

<div class="container">
<ul>
    <li><p class="lead">Середня ефективна доза населення міста Прип'ять до евакуації становить 10.1 мЗв, Дози 4% серед обстежених дані яких використовувалися в моделюванні перевищили рівень у 25 мЗв і лише 18 осіб отримали дози більше 50 мЗв.</p></li>
    <li><p class="lead">Середня ефективна доза населення 30 кілометрової зони становить 15.9 мЗв, 9% отримали дозу більше 50 мЗв, 0,85% отримали дози більше 100 мЗв і лише для однієї особи доза була вища за 200 мЗв.</p></li>
</ul>
</div>
<p class="lead"> порівняння, жителі деяких регіонів Землі з підвищеним природним фоном (наприклад, в Бразилії, Індії, Ірану та Китаю) отримують дози опромінення, рівні приблизно 100–200 мЗв за 20 років.</p>

<p class="lead">
    Стали активнішими такі хвороби як:
</p>
<div class="container">
    <ul>
        <li><p class="lead">Гостра променева хвороба</p></li>
        <li><p class="lead">Онкологічні захворювання</p></li>
        <li><p class="lead">Рак щитоподібної залози</p></li>
        <li><p class="lead">Лейкемія</p></li>
        <li><p class="lead">Спадкові хвороби</p></li>
        <li><p class="lead">Інші</p></li>
    </ul>
</div>

<br><a class="button" href="{{url_for('index')}}">← На головну</a><br><br>


{% endblock content %}